<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wesleydonk.update.ui">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="com.wesleydonk.update.ui.UpdateFileProvider"
            android:authorities="${applicationId}.update.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_provider" />
        </provider>
        <receiver
            android:name=".internal.receivers.InstallationReceiver"
            android:exported="false" />
    </application>
</manifest>